body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100vh;
}
a {
  color: black;
  font-weight: 500;
  text-decoration: none;
}
a:hover {
  color: black;
  font-weight: 700;
  text-decoration: none;
}
.menu {
  height: 50px;
  border-bottom: 1px solid gray;
}
.menu div {
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 22px;
}
.sectiontitle {
  width: 50%;
  font-size: 28px;
  border-bottom: 1px solid gray;
  margin: 1.5% 0 1.5% 0;
}
.tablehead {
  height: 40px;
  font-weight: 500;
  border-bottom: 1px solid darkgray;
}
.searchbox {
  height: 40px;
}
.searchbox input {
  margin-top: 1.5%;
}
.results {
  padding-top: 10px;
}
.results div{
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

